// 1. Your custom variables and variable overwrites.

// COLOURS

// FONTS
$global-font-family: 'Merriweather', serif;
$global-font-size: 18px;
$base-blockquote-font-style: normal;
// custom utility to change font to Montserrat
.tmcc-font-montserrat {
  font-family: 'Montserrat', sans-serif!important;
}

// GLOBAL VARIABLE CHANGES RELATING TO UIKIT
$global-primary-background: #5031a9;

// Import default variables and available mixins.
@import "../node_modules/uikit/src/scss/variables.scss";
@import "../node_modules/uikit/src/scss/mixins.scss";

// Your custom mixin overwrites

// Your custom components
/** Navbar **/
$navbar-nav-item-height: 200px;
$navbar-nav-item-font-family: 'Montserrat', sans-serif;

// Import UIkit.
@import "../node_modules/uikit/src/scss/uikit.scss";

// Page transitions
  // on first page load
body {
  transition: opacity .5s;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}
